img {
	image-rendering: pixelated;
}

pxiel-art {
	image-rendering: pixelated !important;
}

/*.tos-desktop-icon > header > img */

.tos-desktop-icon > footer > p {
	font-size: 1.1rem;
	font-weight: bold;
}

.disabled-icon {
	pointer-events: none !important;
	cursor: default !important;
}


/*body {
	--folio-opacity: 1;
	--curry-opacity: 0;
}*/
.icon-file-folio {
	opacity: var(--folio-opacity, 1);
}
.icon-folder-curry img {
  content: url('assets/icons/picto/folder-open2.svg');
}
:root[style*="--folio-opacity:0"] .icon-folder-folio img,
:root[style*="--folio-opacity: 0"] .icon-folder-folio img {
  content: url('assets/icons/picto/folder-close2.svg');
}

.icon-file-curry {
	opacity: var(--curry-opacity, 1);
}
.icon-folder-curry img {
  content: url('assets/icons/picto/folder-open2.svg');
}
:root[style*="--curry-opacity:0"] .icon-folder-curry img,
:root[style*="--curry-opacity: 0"] .icon-folder-curry img {
  content: url('assets/icons/picto/folder-close2.svg');
}

ul.li_curse {
	margin-top: .2em;
	margin-bottom: .5em;
	padding-top: 0;
	padding-bottom: 0;
	text-align: justify;
	li {
		padding: 0;
		line-height: normal;

		p {
			margin: 0;
		}
		
	}

	li.marker_triangle::marker {
		content: "▸ ";
	}
	li.marker_dot::marker {
		content: "• ";
	}
}

.flex-complement {
	display: flex;
	align-items: center;

	.slicer {
		flex: 1;
	}
	.complement {
		padding-right: 10%;
	}
}