.tos-window.skin-glass-black {
	> section {
		background-color: #00000066;
		backdrop-filter: blur(10px) brightness(.5);
	}
}

.tos-window.skin-glass-white {
	> section {
		background-color: #ffffff33;
		backdrop-filter: blur(10px);
	}
}