
a {
	cursor: pointer; color: blue;
}



/* 
	projects windows
*/

.project-window {

	--link-color-base: #ffff00;
	--link-color-hover: #ff0000;

	/* style paragraph */
	p {
		margin-left: 5%;
		margin-right: 5%;
		line-break: normal;
		text-align: justify;
		/*text-align-last: center;*/
	}
	.marged {
		margin-left: 5%;
		margin-right: 5%;
	}

	font-size: 1.5rem;
	
	.small {
		font-size: 1.2rem;
	}

	.tiny {
		font-size: .9rem;
	}

	.big {
		font-size: 2rem;
	}

	.giant {
		font-size: 3rem;
	}

	/* style header */
	.project-header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		text-align: center;
		gap: 15px;
	}

	.project-header .project-title {
		font-size: 2.5rem;
		font-weight: bold;
		text-align: center;
		background-color: rgba(255,255,0,0.2);
		box-shadow: 0 0 10px rgba(255,255,0,0.3);
	}

	.project-header img {
		position: block;
		margin: 2%;
		width: 15%;
	}

	/* project actionbar */
	.project-actionbar {
		display: flex;
		margin-left: 5%;
		margin-right: 5%;
		> nav {
			flex: 1;
			content: center;
		}
		> article {
			flex: 3;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: .25rem;
		}
		> article > * {
			cursor: pointer;
			margin-left: 10px;

			/*border: 1px solid;*/
			border-color: var(--link-color-base);
			border-radius: 20%;
			transition: border-color .5s ease, transform .5s ease;
		}
		> article > *:hover {
			border-color: var(--link-color-hover);
			transform: scale(1.15);
		}
		
		img {
			display: block;
			width: 3rem;
			height: auto;
			aspect-ratio: 1;
		}
	}

	/* 
	general style 
	*/
	
	a {
		color: var(--link-color-base);
		text-decoration: none;
		font-weight: 500;
		transition: color 0.3s ease, transform 0.3s ease;
	}

	a:hover {
		color: var(--link-color-hover);
		transform: scale(1.05);
	}
}

/* 
special
*/

.absolute-timeline {
	position: absolute;
	outline: black solid 1px;
	left: .75em;
	height: 1000%;
	width: 0;
}

.corner-tip {
  position: sticky;
  display: flex;
  justify-content: flex-end;
	font-family: 'Brush Script MT', cursive;
	/*opacity: .5;*/

	> .corner {
		display: flex;
		justify-content: flex-end;
		backdrop-filter: blur(10px);
		background-color: #00000011;
		align-items: center;
		padding-left: 1em;
		border-top-left-radius: 1em;
	}

	p {
		line-break: strict;
	}

	img {
		margin: 1em;
		margin-right: 1px;
		width: 3em;
	}
}
.corner-tip.top-left {
	top: 0;
	left: 0;
}
.corner-tip.top-right {
	top: 0;
	right: 0;
}
.corner-tip.bottom-left {
	bottom: 0;
	left: 0;
}
.corner-tip.bottom-right {
	bottom: 0;
	right: 0;
}