
a {
	cursor: pointer; color: blue;
}



/* 
	projects windows
*/

.project-window {

	--link-color-base: #ffff00;
	--link-color-hover: #ff0000;

	/* style paragraph */
	p {
		font-size: 1.5rem;
		margin-left: 5%;
		margin-right: 5%;
		line-break: normal;
		text-align: justify;
		/*text-align-last: center;*/
	}

	.project-comment {
		font-size: 1rem;
		text-align: right;
	}

	/* style header */
	.project-header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		text-align: center;
		gap: 15px;
	}

	.project-header .project-title {
		font-size: 2.5rem;
		font-weight: bold;
		text-align: center;
		background-color: rgba(255,255,0,0.2);
		box-shadow: 0 0 10px rgba(255,255,0,0.3);
	}

	.project-header img {
		position: block;
		margin: 2%;
		width: 15%;
	}

	/* project actionbar */
	.project-actionbar {
		display: flex;
		margin-left: 5%;
		margin-right: 5%;
		> nav {
			flex: 1;
			content: center;
		}
		> article {
			flex: 3;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: .25rem;
		}
		> article > * {
			cursor: pointer;
			margin-left: 10px;

			/*border: 1px solid;*/
			border-color: var(--link-color-base);
			border-radius: 20%;
			transition: border-color .5s ease, transform .5s ease;
		}
		> article > *:hover {
			border-color: var(--link-color-hover);
			transform: scale(1.15);
		}
		
		img {
			display: block;
			width: 3rem;
			height: auto;
			aspect-ratio: 1;
		}
	}

	/* style links */
	a {
		color: var(--link-color-base);
		text-decoration: none;
		font-weight: 500;
		transition: color 0.3s ease, transform 0.3s ease;
	}

	a:hover {
		color: var(--link-color-hover);
		transform: scale(1.05);
	}
}
